{% extends 'admin/base.html' %}
{% block content %}
<div>
<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}

<button type="submit">Upload CSV</button>
</form>
</div>
<br />
{% endblock %}
